@import "base.less";
.text{

  .title{
    font-size: 36px;
    text-align: center;
    margin-top: 160px;
    margin-bottom: 80px;
  }
  ul{
    background: #eee;
    height: 900px;
    padding-top: 112px;
    font-size: 16px;
    li{
      width: 40%;
      margin-left: 30%;
      margin-bottom: 20px;
    }
  }
}