@import "base.less";

.banner {
  width: 100%;
  height: 700px;
  ul {
    li {
      width: 100%;
      height: 700px;
      min-width: 1200px;
    }
    .banner1 {
      background: url('/pcimg/index/banner1.png') no-repeat center;
    }
    .banner2 {
      background: url('/pcimg/index/banner2.png') no-repeat center;
    }
    .banner3 {
      background: url('/pcimg/index/banner3.png') no-repeat center;
    }
  }
}

.ft-carousel {
  position: relative;
  overflow: hidden;
  .carousel-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .carousel-inner .carousel-item {
    float: left;
    height: 100%;
  }
  .carousel-indicators {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0;
  }
  .carousel-indicators {
    span {
      display: inline-block;
      width: 50px;
      height: 6px;
      background-color: #efefef;
      margin: 0 4px;
      cursor: pointer;
    }
  }
  .carousel-indicators {
    span.active {
      background-color: #2fccff;
    }
  }
  .carousel-btn {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 45px;
    margin-top: -25px;
    cursor: pointer;
  }
  .carousel-prev-btn {
    left: 10px;
    background: url(../pcimg/index/leftgo.png) no-repeat center;
    background-size: 80% auto;
  }
  .carousel-next-btn {
    right: 10px;
    background: url(../pcimg/index/rightgo.png) no-repeat center;
    background-size: 80% auto;
  }

}

.project {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  text-align: center;
  background: #eee;
  .title {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .left {
    position: relative;
    display: inline-block;
    width: 590px;
    overflow: hidden;
    img {
      width: 100%;

    }
    p {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 30px;
      font-size: 20px;
    }
  }
  .right {
    display: inline-block;
    width: 590px;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
    p {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 30px;
      font-size: 20px;
    }
  }

}

.product {
  min-width: 1200px;
  .title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  .down{
    text-align: center;
    margin-bottom: 40px;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .list {
    overflow: hidden;
    ul {
      box-sizing: border-box;
      overflow: hidden;
      padding-top: 10px;
      li {
        float: left;
        margin-left: 20px;
        position: relative;
        img {
          width: 100%;
        }
        img:hover {
          box-shadow: 0px 2px 2px 2px #bbbbbb;
          box-shadow: 0px 2px 2px 2px #bbbbbb;
          box-shadow: 0px 2px 2px 2px #bbbbbb;
          -webkit-transform: translate(0, -5px);
          -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
          cursor: pointer;
        }
        span {
          display: inline-block;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 60px;
          font-size: 20px;
          width: 100%;
        }
      }

    }
  }
}

.video {
  background: #eee;
  .title {
    padding-top: 60px;
    padding-bottom: 80px;
    font-size: 16px;
    text-align: center;

    p {
      margin-bottom: 6px;
    }
  }
  .videoBox {
    text-align: center;
    overflow: hidden;
  }
}

.cooperation {
  width: 1200px;
  margin: 50px auto;
  .title {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  .list {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    .item {
      display: inline-block;
      width: 200px;
      height: 95px;
      line-height: 90px;
      font-size: 24px;
      text-align: center;
      background: #eee;
      margin-left: 20px;
      margin-top: 20px;
      img {
        width: 200px;
        height: 95px;
      }
    }
  }
}



.icon-arrow-a-left {
  background: url(../pcimg/index/rightgo.png) no-repeat;
  background-size:100% auto;
}
.icon-arrow-a-right{
  background: url(../pcimg/index/leftgo.png) no-repeat;
  background-size:100% auto;
}
.icon-arrow-a-left {
  height: 58px;
  width: 58px;
}
.icon-arrow-a-left:hover{
  background: url(../pcimg/index/rightgo1.png) no-repeat;
  background-size:100% auto;
}
.icon-arrow-a-right {
  background-position: 0 0;
  height: 58px;
  width: 58px;
}
.icon-arrow-a-right:hover{
  background: url(../pcimg/index/leftgo1.png) no-repeat;
  background-size:100% auto;
}
#main {
  overflow: hidden;
  zoom: 1;
  position: relative;
  width: 100%;
}

#index_b_hero {
  width: 685px;
  height: 400px;
  margin: auto;
  position: relative;
}

#index_b_hero img {
  width: 680px;
  height: 400px;
}

#index_b_hero .heros {
  width: 685px;
  height: 410px;
}

#index_b_hero .hero-wrap {
  overflow: visible;
  position: absolute;
}

#index_b_hero .next, #index_b_hero .prev {
  position: absolute;
  top: 50%;
  z-index: 9999;
}

#index_b_hero .next:hover, #index_b_hero .prev:hover {
}

#index_b_hero .next {
  margin-top: -25px;
  margin-left: -415px;
}

#index_b_hero .prev {
  margin: -25px 5px 0 0;
  right: -74px;
}

#index_b_hero .mask-left, #index_b_hero .mask-right, #index_b_hero .hero {
  background: #fff;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 680px;
  height: 400px;
  overflow: hidden;
  left: 1920px;
}

#index_b_hero .mask-right, #index_b_hero .mask-left {
  z-index: 4;
  left: -685px;
  filter: alpha(Opacity=70);
  opacity: .7;
  background: #000;
  overflow: hidden;
}

#index_b_hero .mask-right {
  left: 685px;
}

#index_b_hero .active {
  z-index: 2;
  left: 0;
}

