html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/phone.news.news.css')

    body
        include ../header
        div.box
            p.title 厚积薄发，蒲公英全屋语音智能系统终于要和大家见面了
            p.text 做产品，我们是认真的
            p.text 2016年小乔家用机器人登陆京东众筹，受到社会上众多朋友的关注，特别是从事智能家居行业的朋友，在此我们表示衷心的感谢，您的关注和支持是我们前进的动力。
            p.text 经过2年时间的积累和打磨，同时汲取广大用户和合作伙伴的建议和需求，针对智能家居这个垂直领域，对产品的边界进行重新定义，增加了很多实用的功能，开发了新一代全屋语音智能系统。该系统主要包括：智能管家，86型语音中控、智能开关、智能插座、门窗传感器、人体传感器以及智能门锁等产品。系统内的各个产品成员可以和智能管家自动组网，智能识别，让用户安装和使用变得更加简单和省心。
            p.text 下面我带大家进一步来认识这套全屋语音智能系统：
            p.text 首先出场的是智能管家，她的外形酷似星战机器人的头部，她的脸部采用大屏幕显示，我们一直认为屏幕显示交互，更加直观和人性化，整体采用黑白配色，简约大方，适合各种家具风格。
            img(src='../phoneimg/news/newsChilder/news1-1.jpg')
            p.text 光有外表还不行，还要看内在，来看看我们的智能管家都有哪些功能吧：
            p.text 1. 远距离（5米）360°准确拾音，采用多麦技术，能够大幅度提升嘈杂环境下的对话能力，即使在播放音乐时也能和她轻松进行对话；
            p.text 2. 支持一句话命令模式，也就是唤醒词+命令连说，系统执行命令后，直接终止对话，机器仍然处于熄屏状态。如“9527放首歌”，管家就会直接播放歌曲；
            p.text 3. 内置离线功能，即使网络断开或者掉线时也能随意控制家里的电器，使管家更加稳定，可靠；
            img(src='../phoneimg/news/newsChilder/news1-2.jpg')
            p.text 4. 自定义语音唤醒命令词，让管家更加个性化，您可以给管家另外取个好听的名字，比如“蜡笔小新”，“刘德华”等等；
            img(src='../phoneimg/news/newsChilder/news1-3.jpg')
            p.text 5. 能实现全屋语音控制，采用主机+语音分机模式，在各个房间都可以和管家自由对话；
            img(src='../phoneimg/news/newsChilder/news1-4.jpg')
            p.text 6. 直接集成智能网关，射频433/315，红外发射和接收功能，市面上的红外/315射频/433射频设备都可以跟管家对接。
            p.text 7. 我们觉得管家还可以更智能，管家集成了光线/温湿度传感器，配合人体传感器，可以提供主动式服务，当室内温度达到32°时，人体传感器检测到人体活动，管家会自动提醒“是否需要打开空调”，您回答“是”，空调就会自动打开。
            img(src='../phoneimg/news/newsChilder/news1-5.jpg')
            p.text 8. 采用微信小程序进行手机端控制，无需下载APP，不占用手机空间；
            p.text 9. 支持多账号管理，可以多用户绑定一个主机控制，也可以一个用户绑定多台主机控制，灵活方便；
            p.text 10. 支持各种条件触发的自定义场景，满足用户对不一样场景的体验；
            img(src='../phoneimg/news/newsChilder/news1-6.jpg')
            p.text 11. 底部具有开放式接口，可以供用户自由DIY玩法，比如接个可以活动的底座，智能管家就能到处跑了；
            p.text 全屋语音智能系统另一个重要的成员就是86型语音中控，她可以像墙面开关一样方便的安装在墙壁上，每个房间安装一个就可以在家里任何一个房间和管家说话下命令了。
            p.text 说到智能家居当然也离不开智能门锁，智能开关，智能插座，门窗传感器，人体传感器等这些基础成员了，她们和智能管家一起组成了我们的全屋语音智能系统，实现家里从进门开始就能轻松体验智能家居给您的生活带来的诸多便利：
            p.text 一进门用指纹开锁后，家里的灯光，电视，窗帘就能自动打开（不同的人回家可以执行不同的场景），以前都需要用手来控制的电器现在说句话就可以了，当管家检测到家里没人的时候可以自动关闭灯光，电视等电器，当有人非法入侵的时候可以自动报警到您的手机上，当您夜间需要起床的时候，自动打开夜灯，在您上床睡觉时又会自动关闭夜灯等等，还有更多功能等您去体验。
            img(src='../phoneimg/news/newsChilder/news1-7.jpg')
            p.text 另外，蒲公英全屋语音智能系统还可以给第三方合作伙伴提供定制服务，我们提供全面的技术支持：
            p.text 如果您是智能家居集成经销商，想找一套体验好，靠谱的智能家居；
            p.text 如果您是智能家居企业，需要管家做产品集成，赋予系统语音能力；
            p.text 如果您是智酒店供应商，需要定制个性化入住体验和管理；
            p.text 如果您是传统的家电厂商，需要一款管家，对接自有产品，定制外观、功能、贴牌等OEM方式；
            p.text 蒲公英智能科技将为您提供全面可靠的服务，是您忠实的合作伙伴。
            p.text 本着开放的心态，欢迎洽谈合作，与我们一同组建家居生态。
            p.time 2018/07/19
        include ../footer
script(src="/JavaScript/phone/zepto.js")
script(src="/JavaScript/phone/header.js")
