html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.box
            p.title 极致科技·为爱设计，蒲公英与奥普、华为联手打造“奥普管家”惊艳亮相
            p.text “奥普管家”于2018年7月9号在广州香格里拉大酒店震撼发布，奥普携手华为和长沙蒲公英联手定制打造了一个极致体验的智能系统。
            img(src='../pcimg/news/newsChilder/news2-1.jpg')
            img(src='../pcimg/news/newsChilder/news2-2.jpg')
            p.text 华为Hilink将管家，浴霸，新风，晾衣架，照明内网外网双向打通，组成一个联动系统。
            img(src='../pcimg/news/newsChilder/news2-3.jpg')
            img(src='../pcimg/news/newsChilder/news2-4.jpg')
            p.text 奥普管家随叫随应，即问即答。华为智能家居APP控制，奥普照明、浴霸、晾衣机和新风取暖一键掌控。所以，奥普管家是集多功能为一体的生活管家。Hi future，奥普管家is coming。
            img(src='../pcimg/news/newsChilder/news2-5.jpg')
            img(src='../pcimg/news/newsChilder/news2-6.jpg')
            p.text 有幸和业界大佬一起组建生态，身感荣幸！
            p.text 我们能做的就是在产品上下足功夫，极致打磨产品，不辜负大家的期望！
            img(src='../pcimg/news/newsChilder/news2-7.jpg')
            p.text “设计”、“科技”、“集成”、“智能”，极致科技，打造智能体验，奥普管家首次在广州建博会上亮相
            img(src='../pcimg/news/newsChilder/news2-8.jpg')
            img(src='../pcimg/news/newsChilder/news2-9.jpg')
            p.time 2018/07/20
        include ../bottom
script(src="/JavaScript/jquery.min.js")
