html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.box
            p.title 恭喜蒲公英成为杭州奥普家居供应商
            p.text 2018年11月我司正式开始为奥普家居股份有限公司供货新一代智控系统中控——奥普管家！经过1年多时间的打磨配合，凭借对奥普设备的完美对接控制和对品质的严格把控，产品完全符合奥普家居的产品要求，现
                span(style='color:rgb(255, 104, 39)') 我司已成为奥普正式供应商
            p.text 后期我司将加大研发力度，以科技为导向、质量为生命，继续为客户提供极致的智能家居体验！
            img(src='../pcimg/news/newsChilder/news7-1.jpg')
            p.text 奥普作为
                span(style='color:rgb(255, 104, 39)') 浴霸发明人
                span ，起草并参与“浴霸”和“集成吊顶”国家标准制定，是国标制定者，更是
                span(style='color:rgb(255, 104, 39)') 行业领军人
                span 。奥普家居自93年创立，拥有中国CCC认证，更拥有包括欧盟的CE、美国UL、加拿大CUL、韩国KC等国际认证，并通过了ROHS国际环保认证，是行业内唯一凭借自己品牌“AUPU”出口的企业，截止目前遍布全球的奥普用户已达3000余万户，过亿消费者在享受奥普产品。奥普品牌自行业销量有记载的2002起，连续十五年稳居销量第一！截止当下奥普已拥有多达446项专利。
                span(style='color:rgb(255, 104, 39)') 2017年品牌价值128.42亿元。
            img(src='../pcimg/news/newsChilder/news7-2.jpg')
            img(src='../pcimg/news/newsChilder/news7-3.jpg')
            p(style='margin-top:20px').time 2018/11/15
        include ../bottom
script(src="/JavaScript/jquery.min.js")
