html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.box
            p.title 微信小程序能替代智能家居控制端APP吗？
            p.text 当前，市面上智能家居远程控制端基本都是原生APP，首先用户必须下载安装到手机，而且某些APP页面做得很深，使用率并不高，越复杂的APP对用户来说越不友好。
            p.text 那么有没有一种新的方式，简单快捷、易操作，无需安装代替原生APP?
            p.text 于是我们想到微信小程序。微信小程序优势顾名思义就是体现在“小”字：
            p.text 无需安装下载，不占用手机内存，以微信为载体，随时打开，随时使用，简单快捷。
            p.text 我们看重的就是微信小程序的这些优点，完美的符合了我们对智能家居APP的期望。
            img(src='../pcimg/news/newsChilder/news3-1.jpg')
            p.text 我司初代产品采用的就是微信公众号控制，得到了很多客户的认可，基于微信体系，此次我们采用小程序来控制。
            p.text 此次小程序分为四大模块【首页】【设备】【场景】【我的】
            p.text 平铺化设计，简洁素雅，满足了所有控制端所需的功能。
            img(src='../pcimg/news/newsChilder/news3-2.jpg')
            img(src='../pcimg/news/newsChilder/news3-3.jpg')
            p.text 多账号管理，一个用户可以绑定多台管家进行控制；也可以多个用户绑定一台管家，灵活方便；
            p.text 设置管理员权限，一台管家只有一个管理员，管理员可以分享设备给家人朋友，管理员有权删除成员；方便管理员控制管理。
            img(src='../pcimg/news/newsChilder/news3-4.jpg')
            p.text 还有一些特色功能，这里就不一一列举了，到时发布，客户可以自由体验。
            p.time 2018/07/23
        include ../bottom
script(src="/JavaScript/jquery.min.js")
