html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.box
            p.title 原来空调还可以这样开
            p.text 智能技术已经进入了较成熟的阶段。目前，以深度学习加大数据为主要技术方案的人工智能，正在蓬勃兴起。在家电圈，“智能化”毫无争议地成为了行业发展急速前进的风向标，智能空调的概念已不再陌生，各大商城都在宣传，仿佛一夜之间似乎只要加上“智能”二字就马上变得高端大气上档次。但真实情况，以空调为例，搭载WiFi控制模块的智能激活率不足20%、活跃用户仅15%，智能功能形同虚设。
            img(src='../pcimg/news/newsChilder/news6-1.jpg')
            p.text 真正的智能空调应该是从消费者真实生活场景出发，用专注的精神和极致的智能技术，切实解决用户生活中遇到的困扰和问题，是让消费者在各个细节中，感受到空调更懂你、感受到操作更自然舒适。
            img(src='../pcimg/news/newsChilder/news6-2.jpg')
            p.text 从“打开空调”这样一个简单的命令，也是可以看出一个系统的智能化程度。我们的系统，会自动根据当前室内温度来判断空调打开后应进入的模式，当前室内温度低，打开空调自动进入制热模式；当前温度高，打开则是制冷模式。
            p.text 空调温度调节，只需直接说出温度数值就可以了，比如打开空调后，直接说28度 /20度；
            p.text 还支持相对温度调节，如空调温度调高2度、降低3度，可以省去多次按键的麻烦；
            p.text 支持多轮对话，无需一唤醒一命令，只要管家机器人处于语音交互状态，可继续下达命令。
            p.text 所以，使用蒲公英的管家机器人来控制空调并设置温度，只需两句话就好：
            p.text “小乔管家打开空调”
            p.text “二十二度”/“调高五度”
            p.text 是不是超~级~简~单~~
            p.text 单独的红外电器是很难实现双向反馈的，但配合墙面插座功率检测，就可以让红外电器也做到双向反馈。根据功率变化可以很直观的知道当前空调是打开还是关闭状态。

            p.time 2018/11/13
        include ../bottom
script(src="/JavaScript/jquery.min.js")
