html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.box
            p.title 高逼格，家里每个角落都可语音命令的智能系统······
            p.text 智能家居现正处于风口上，越来越多的政策扶持和资本注入，使得行业得到了飞速发展，但目前行业百花齐放，各自都有各自的协议，使得产品系列比较多，很多需要第三方授权使用，多个app后台来回切换，依赖性较强，如果哪方的后台出现问题，功能就不能使用。
            img(src='../pcimg/news/newsChilder/news5-1.jpg')
            p.text 市面上的智能音响主机很多，但是没有哪家可以覆盖整个房子，也没有哪家集成光敏与温湿度传感器，就算一个房间放一台，也不能形成互联，组成系统。有些家电控制都还需要借助其他的组件，往往会让客户安装多个设备。
            img(src='../pcimg/news/newsChilder/news5-2.jpg')
            p.text 不囿于现有生态模式和环境，我司开创业内第一个全屋语音智能系统，采用一台主机+多台分机的模式，主机作为核心集成多个传感器，让安装产品类别减少；每个房间都可安装一台中控，可以赋予他不同的名字，组网成系统，数据共享。
            img(src='../pcimg/news/newsChilder/news5-3.jpg')
            p.text 全屋语音系统就是主人可以在家里任何一个地方语音命令控制全屋所有的设备，同时系统还能智能识别主人所在的位置，优先控制本房间的设备。
            p.text 如晚上进卧室休息，客厅灯光却还是亮的，这时你可以躺在床上直接说关闭客厅灯光；
            p.text 再比如从厨房出来，坐在沙发上了，才发现厨房灯没有关，又不想动，这时你就可以直接语音命令关闭厨房灯。
            img(src='../pcimg/news/newsChilder/news5-4.jpg')
            p.text 1.自动感知主人所在房间位置：
            p.text 在客厅语音命令“打开空调”，系统自动识别为打开客厅空调；
            p.text 在卧室语音命令“打开空调”，系统自动识别为打开卧室空调。
            p.text 2.不受位置限制，可语音控制家里所有电器：
            p.text 在客厅语音命令“打开书房灯光”，书房灯光就会打开；
            p.text 在卧室语音命令“关闭客厅电视”，客厅电视就会关闭。
            p.text 我司本着共同合作开发的生态原则，采用开放式的协议，让不同品牌的产品可以加入系统，完善智能家居生态。
            p.time 2018/08/11
        include ../bottom
script(src="/JavaScript/jquery.min.js")
