html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.news1.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.box
            p.title 论智能家居的本地化...
            p.text 当前智能家居市场百家争鸣，各自都有各自的一套系统，虽然现在很多公司都已经开放协议，可以互联，但是整个智能家居的体验并不好，基本上都是基于网络，使云后台服务数据进行互联。
            p.text 如果离开了网络，基本上整个系统都瘫痪；
            p.text 如果第三方的云服务器出现问题，系统的很多功能不能用；
            p.text 如果第三方的控制码库出现问题，电器不能控制；
            p.text 受限方太多，使用不稳定，导致系统体验并不好。这是现有智能家居产品存在的普遍问题。
            img(src='../pcimg/news/newsChilder/news4-1.jpg')
            p.text 大众对于智能家居的理解，在于通过手机能控制就是所谓的“智能”。离开了网络，手机就控制不了了。
            p.text 真正的智能家居，离开了手机、宽带，还能控制吗?
            p.text 蒲公英全屋语音智能家居系统就可以做到，它拥有很强大的本地化控制能力，在系统连接好之后，智能家居控制部分不需要再次通过云端获取，直接走本地模式，所以在使用的过程中即使网络暂时断开也能轻松控制家电。
            p.text 而且蒲公英智能系统集语音交互、智能网关、红外射频控制等于一体，不依赖第三方设备和码库，系统的兼容性和稳定性更加出色。
            p.text 下面我们以日常家庭生活为描绘蓝本，系统可以实现以下生活场景。
            img(src='../pcimg/news/newsChilder/news4-2.jpg')
            p.text 离线状态下，直接唤醒“9527，打开客厅空调”，空调开启，
            p.text 语音命令控制家电不受网络限制。
            img(src='../pcimg/news/newsChilder/news4-3.jpg')
            p.text 如“9527，回家模式”，
            p.text 语音触发场景，不受影响。
            img(src='../pcimg/news/newsChilder/news4-4.jpg')
            p.text 如门窗传感器打开，空气净化器自动关闭，
            p.text 这类事件触发场景或者是定时开启场景在不联网的时候都是可以实现。
            img(src='../pcimg/news/newsChilder/news4-5.jpg')
            p.text 如室内温度高于32度，人体传感器检测到人体活动，管家会问是否需要打开空调，回答好的，空调就会开启，这种主动式服务也是不受网络所限。
            img(src='../pcimg/news/newsChilder/news4-6.jpg')
            p.text 这就是智能家居本地化
            p.text 本地化能力就是进行本地的语义解析/语义理解/语音合成，不通过云后台自动可以识别你的语义，也就是说不需要网络，也可以实现智能家居的常见功能。
            p.time 2018/07/27

        include ../bottom
script(src="/JavaScript/jquery.min.js")
