html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 产品中心
        link(rel='stylesheet',href='/css/phone.kaiguan.css')
        link(rel='stylesheet',href='/css/phone.chuanglian.css')
    body
        div#content
            include header
            div.kaiguan
                div.top
                div.title
                    p 433射频窗帘
                div.explain
                    div.left
                        p 高精度超静音直流电动机
                        p 导轨采用超静音及自润滑设计，齿型传动带安装更简便
                        p 具有专利技术的手拉启动功能，操作方式更人性化
                        p 配合管家使用，设备可接入智能家居系统，和系统内的智能
                        p 设备联动，采用433射频通讯，匹配度高，操作简单
                    div.right
                        img(src='../phoneimg/chuanglian/small.jpg')
                div.title
                    p 主要参数
                div.list
                    ul
                        li
                            p 外形尺寸
                            span 40*40*255（L*W*H)
                        li
                            p 电压
                            span 24VDC
                        li
                            p 空载电流
                            span 0.4A
                        li
                            p 额定电流
                            span 130rpm MP43/140rpm MP43L
                        li
                            p 额定转速
                            span 85rpm MP43/95rpm MP43L
                        li
                            p 工作制
                            span S3 50%
                        li
                            p 接收频率
                            span 433.92MHz
                        li
                            p 接收带宽
                            span 150KHz
                        li
                            p 接收调制
                            span OOK/ASK

            include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/header.js")

