html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 智能管家
        link(rel='stylesheet',href='/css/phone.guanjia.css')
    body
        include header
        div.top
            p.big 智能语音控制
            p.middle 解放双手，让生活更加自由
            p.lan 5米，360°准确拾音
            img(src='/phoneimg/guanjia/1.png')
            div.me-bg__layer.effect-appear--presented.effect-disappear#ms5-bg-layer-1
                div.ms5-bg__circle#ms5-circle-1
                div.ms5-bg__circle#ms5-circle-2
                div.ms5-bg__circle#ms5-circle-3
                div.ms5-bg__circle#ms5-circle-4
        div.huanxingci
            p.big 自定义唤醒词
            p.middle 默认唤醒词为“小乔管家”，同时可以自定义一个唤醒词，满足客户调侃乐趣
            div.photo
        div.quanwu
            p.big 全屋语言智能系统
            p.middle 管家与管家或管家与86型语音中控，
            p.middle 可以组建全屋语音系统，
            p.middle 让你无论在哪个房间都可以自由下达命令，
            p.middle 系统可以自动识别你的位置。
            p.middle 当你在卧室时命令“打开空调”，
            p.middle 卧室空调就会打开
            div.photo
        div.lixian
            p.big 内置离线命令
            p.middle 网络断开或掉线时，也能控制家电和场景
            div.photo
        div.mingling
            p.big 语音命令更加随意
            p.middle 支持唤醒词+命令连说，系统执行命令后，直接终止对话，机器仍然处于熄屏状态
            div.photo
            div.me-bg__layer.effect-appear--presented.effect-delay-500.effect-disappear.me-hidden--phone#ms3-bg-layer-1
                div.ms3-bg__text.me-hidden--phone#ms3-text-1
                div.ms3-bg__text.me-hidden--phone#ms3-text-2
                div.ms3-bg__text.me-hidden--phone#ms3-text-3
                div.ms3-bg__text.me-hidden--phone#ms3-text-4
                div.ms3-bg__text.me-hidden--phone#ms3-text-5
                div.ms3-bg__text.me-hidden--phone#ms3-text-6
        div.weixin
            p.big 微信小程序控制，支持多账号管理
            p.middle 无需下载APP，不占用手机空间
            p.middle 可以多用户绑定一个管家，也可以一个用户绑定多台管家
            div.photo
        div.zhineng

            p.big 我们认为还可以更智能
            p.middle 提供主动式服务
            p.middle 当室内温度高于32°时，
            p.middle 人体传感器检测到人体活动，
            p.middle 管家会主动提醒“是否需要打开空调”
            p.middle 您只需回答“好的”，空调就会打开
            div.photo
        div.gongneng
            p.big 简约而不简单的功能集成
            p.middle 是多功能网关
            p.middle 是AI音响
            p.middle 是家电控制器
            p.middle 是多功能传感器
            div.photo
        div.kongzhi
            p.big 家电控制
            p.small 直接语音命令控制家里电器
            p.small 如“小乔管家，打开电视”
            p.small “小乔管家，打开客厅筒灯”
            div.photo
        div.sence
            p.big 场景联动
            p.small 室内环境太干燥
            p.small 且人体感应检测到人体活动
            p.small 自动打开加湿
            div.photo
        div.lianjieqi
            p.big 开放连接器，可玩性更强
            p.middle 底部接口可供用户DIY，增加底座或身体
            div.photo

        div.list1
            div.title
                p 主要参数
            ul
                li
                    p CPU
                    span 全志四核
                li
                    p 固定内存
                    span 4GB
                li
                    p 输入电源
                    span DC 5.3V  2.5A
                li
                    p 喇叭功率
                    span 4Ω 3W*2
                li
                    p 识别距离
                    span 5m
                li
                    p 显示尺寸
                    span 3.1寸
                li
                    p 整机重量
                    span 1.15kg
                li
                    p 颜色可选
                    span 白色 黑色
                li
                    p 信号类别
                    span 红外  射频   WiFi
                li
                    p 整机尺寸
                    span 190mm * 190mm * 120mm

        include footer
script(src="/JavaScript/phone/zepto.js")
script(src="/JavaScript/phone/header.js")
