div.header
    div.logo
    div.menu
    div.close

div.navList
    ul
        li
            a(href='/index')
                span 首页
        li
            a(href='/product')
                span 产品中心
        li
            span.jiejue 解决方案
            div.children
                a(href='/home')
                    p   智能家居解决方案
                a(href='/hotel')
                    p   智慧酒店解决方案
        li
            a(href='/infrared')
                span 红外码库
        li
            a(href='/open')
                span 开放平台
        li
            a(href='/news')
                span 最新资讯
        li
            a(href='/aboutUs')
                span 关于我们
        li
            a(href='/join')
                span 加盟合作