html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 智能家居
        link(rel='stylesheet',href='/css/phone.home.css')
    body
        div#content
            include header
            div.home
                div.top
                    p.big 智能家居解决方案
                    p.small PuGoing智能家居通过前沿的无线技术将家中电器设备联网升级，从而实现各种全屋智能场景。
                    p.small 让你或者家人通过简单的一个动作或者一句话即可自动操作家中不同设备。
                    p.small 远离家中繁琐，科技解放生活。
                div.list
                    ul
                        li
                            div.yuan
                                p(style='margin-top:28px') 全屋语音
                                p 解决方案
                            div.text
                                span 无需拆墙布线，采用无线信号，维护升级方便简单
                        li
                            div.yuan
                                p(style='margin-top:28px') 改装灯光
                                p 控制系统
                            div.text
                                span 433射频自组网信号强度翻倍，覆盖面积更广，系统更稳定
                        li
                            div.yuan
                                p(style='margin-top:28px') 传统家电
                                p 智能升级
                            div.text
                                span 老房子智能改装，无需更换家电
                        li
                            div.yuan
                                p(style='margin-top:28px') 各种场景
                                p 自由设置
                            div.text
                                span 全自动、自学习、自感知的智能系统
                div.sence
                    div.zhudong
                        p.big 主动式服务
                        p.small 利用人工智能技术，多传感器配合，自动检测环境，提供主动式服务
                    div.qichuang
                        p.big 起床模式 6：30
                        p.middle 为你开启精彩的一天
                        p.small 闹钟响起，窗帘徐徐拉开，同时关闭空调，阳光洒进房间，伸个懒腰，起床。管家播放当天的天气，让你享受美好的一天
                    div.lijia
                        p.big 离家模式 7：30
                        p.middle 家庭安全 一键布防
                        p.small 出门选择离家模式，家中的灯光、电器自动调整为离家状态。从关门的那刻起，玄关，过道的人体传感器、声波报警器和房间门、窗上的门窗传感器开始严阵以待。窗帘徐徐合上，布防开始
                    div.huijia
                        p.big 回家模式 19：00
                        p.middle 一个人也能拥有家的温馨
                        p.small 忙碌了一天，回到家，指纹解锁打开家门，玄关、过道、客厅，所到之处全部的照明灯统统为你亮起，管家正在播放你喜欢的音乐，电视为你打开到爱看的卫视频道，卫生间热水器已经在加热，等待着随时享用
                    div.shuimian
                        p.big 睡眠模式 23：00
                        p.middle 生活压力大 睡个好觉才重要
                        p.small 躺在床上，睡眠模式可以免去睡前关窗、关窗帘、关灯、关电视等一系列琐事，管家播放大自然的声音，营造助眠氛围，让你快速进入梦乡。房间空气不流通，加湿器和空气净化器也会自动开启进行调节，这一切，只为健康睡眠


div.shuimian
            include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/banner.js")
    script(src="/JavaScript/phone/header.js")
    script(src="/JavaScript/phone/home.js")
