html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 智慧酒店
        link(rel='stylesheet',href='/css/phone.hotel.css')
    body
        div#content
            include header
            div.hotel
                div.top
                    p.big 智慧酒店解决方案
                    p.small PuGoing智慧酒店解决方案主要面向特色主题酒店，让入住旅客体验轻科技，享受不一样的智能服务。
                    p.small 集合酒店自身管理系统，让服务管理更高效、体验更舒适，通过智能设备应用，节省运营成本，
                    p.small 提升管理质量，从而在口碑和利益上实现"双盈"效应。
                div.list
                    ul
                        li
                            div.yuan
                                p(style='margin-top:33px') 提高品牌
                                p 竞争力
                        li
                            div.yuan
                                p(style='margin-top:33px') 对接自家酒
                                p 店管理系统
                        li
                            div.yuan
                                p(style='margin-top:33px') 减少管理成
                                p 本提高效率
                        li
                            div.yuan
                                p(style='margin-top:50px') 方便节能
                div.sence
                    div.ruzhu
                        p.big 入住体验模式
                        p.small 在线订房后，可以在入住前通过手机端，让房间环境变成你想要的最舒适状态，还可以享受影音娱乐、智能卫浴、智能灯光、睡眠检查等全方位入住体验
                    div.tuifang
                        p.big 退房模式
                        p.small 按下退房开关，不需要你亲自到前台办理退房手续，服务人员收到通知对客房进行检查，完毕后发票发送至手机，也可自取纸质发票，实现随时来随时走
            include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/banner.js")
    script(src="/JavaScript/phone/header.js")
    script(src="/JavaScript/phone/hotel.js")
