html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 红外码库
        link(rel='stylesheet',href='/css/phone.infrared.css')
    body
        div#content
            include header
            div.infrared
                div.top
                    p.big 智能家居一次性红外解决方案
                    p.small PuGoing红外库，囊括市面上95%的红外电器，基于PuGoing自主研发编解码方法，配套的电路及遥控方法与系统、遥控器、终端设备及红外装置相结合，更加方便数据传输与控制。同时自备红外码库自上传功能，不断扩展完善，可以满足更多用户需求。
                div.box
                    p.big 码库齐全，覆盖率高
                    p.small 集成全球范围各种红外信号编码数据
                    div
                        img(src='phoneimg/infrared/2.jpg')
            include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/banner.js")
    script(src="/JavaScript/phone/header.js")
    script(src="/JavaScript/phone/infrared.js")
