html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 开放平台
        link(rel='stylesheet',href='/css/phone.open.css')
    body
        div#content
            include header
            div.infrared
                div.top
                    p.big 从这里开始，创建一个属于你的智能应用
                    p.small PuGoing秉承开放态度，欢迎其他类产品接入我司系统，同时也可让我司产品接入其他系统提供定制服务。
                    p.small 结合PuGoing云平台与智能硬件能力，您可以建立一个全新的智能应用，
                    p.small 或对现有的应用进行二次开发，让它更加符合你的需要。
                div.list
                    ul
                        li
                            div.yuan
                                p(style='margin-top:65px') 网站应用

                            div.text
                                span PuGoing提供的云服务接口能够全方位应对各种平台
                        li
                            div.yuan
                                p(style='margin-top:65px') 行业应用
                            div.text
                                span 智能酒店、智能办公、酒吧、餐厅、咖啡店都可以按需定制功能
                        li
                            div.yuan
                                p(style='margin-top:45px') 微信小程
                                p 序接入
                            div.text
                                span 利用PuGoing云服务接口打造一款专属微信小程序，绑定在你的微信公众号下
                        li
                            div.yuan
                                p(style='margin-top:45px') 第三方硬
                                p 件接入
                            div.text
                                span PuGoing开放平台输出强有力的传统硬件智化能力助你升级现有的产品
                div.box
                    p.big 语音服务
                    p.small PuGoing与多家语音控制平台达成合作，可自由开发语音命令控制接口
                    div
                        img(src='phoneimg/open/3.jpg')
                    p.big 硬件接入
                    p.small PuGoing云服务云平台支持传统硬件智能化升级，兼容多种无线通讯协议，实现不同协议的智能硬件快速联网、互联互通。

                    div
                        img(src='phoneimg/open/2.jpg')
            include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/banner.js")
    script(src="/JavaScript/phone/header.js")
    script(src="/JavaScript/phone/open.js")
