html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        title 等待
        link(rel='stylesheet',href='/css/phone.wait.css')
    body
        div#content
            include header
            div.wait
                p 产品陆续开放中，敬请期待...


    include footer
    script(src="/JavaScript/phone/zepto.js")
    script(src="/JavaScript/phone/header.js")

