html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.top(style='background:url("../pcimg/baojing/top.jpg") no-repeat center')
        div.top2
        div.top3
        div.box
            div.title
                p 报警遥控器
            div.line
            div.explain
                div.left
                    p 迷你造型，方便携带
                    p 一键设置撤防布防模式
                div.right
                    img(src='../pcimg/baojing/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 额定电压
                        span DC 3V
                    li
                        p 静态电流
                        span ≤16uA
                    li
                        p 反射电流
                        span ≤30mA
                    li
                        p 无线频率
                        span 868MHz
                    li
                        p 无线距离
                        span 100m（空旷距离）
                    li
                        p 工作湿度
                        span -10℃~50℃
                    li
                        p 最大允许湿度
                        span 95%RH
                    li
                        p 信号类型
                        span 433射频
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")