div.bottom
    div.list
        ul
            li.title 产品中心
            li 家族系列
            li 智能家居
            li 体验与购买
        ul
            li.title 售后与支持
            li 服务及保修政策
            li.xiaochengxu 微信小程序
                div.wechat
                    img(src='/pcimg/index/wechatsmall.png')
        ul
            li.title 服务合作
            li 合作对接
            li 开放平台
            li 码库服务
        ul
            li.title 关于蒲公英
            li 公司简介

        ul
            li.title 客联系我们
            li 电话 400-113-0099
            li 服务时间
            li 9:00-18:00
            li QQ 2582292078
        ul
            li.title 关注我们
            li 微信
            li 微博
    p Copyright ©2018 长沙蒲公英智能科技有限公司
    p Pugoing Corporation Ltd. All Rights Reserved
    p 湘ICP备18012601号