html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/chazuo.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.top
        div.box
            div.title
                p 智能插座
            div.line
            div.explain
                div.left
                    p 这是一款拥有传统86身材，却又不传统设计的插座
                    p 采用全新的分离式可拆卸结构设计
                    p 兼容传统开关的安装和接线方式
                    p 配合管家使用，设备可接入智能家居系统
                    p 与管家配合，支持手机远程控制，防浪涌设计
                div.right
                    img(src='../pcimg/chazuo/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 无线协议
                        span 1527/自主协议
                    li
                        p 外观颜色
                        span 珍珠白
                    li
                        p 无线频率
                        span 433.92MHz
                    li
                        p 供电电压
                        span 250V～
                    li
                        p 产品尺寸
                        span 86*86*10mm
                    li
                        p 最大功率
                        span 2200W
                    li
                        p 加密类型
                        span WEP/TKIP/AES
                    li
                        p 最大负载电流
                        span 10A
                    li
                        p 工作温度
                        span -20~60℃
                    li
                        p 产品净重
                        span 89g±5g
                    li
                        p 工作湿度
                        span ≦95%
                    li
                        p 寿命
                        span 100000次
                    li
                        p 安全机制
                        span WEP/WPA-PSK/WPA2-PSK
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")