html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/index.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a 产品中心
                        li
                            a 解决方案
                        li
                            a 智能生活
                        li
                            a 红外码库
                        li
                            a 开放平台
                        li
                            a 关于我们
        div.banner#carousel_1.ft-carousel
            ul.carousel-inner
                li.banner1.carousel-item
                li.banner2.carousel-item
        div.project
            div.left
                img(src='/pcimg/index/project1.jpg')
                p.title 智慧酒店
                p.text 创新型全智能化控制系统，让顾客体验如家的感受
            div.right
                img(src='/pcimg/index/project2.jpg')
                p.title 智能家居
                p.text 轻松快捷打造全屋语音智能生活
        div.product
            div.title
                p 产品中心
            div.list
                span.btn.prev
                span.btn.next
                ul
                    li
                        img(src='/pcimg/index/quanwu.jpg')
                        span 全屋语音系统
                    li
                        img(src='/pcimg/index/dengguang.jpg')
                        span 灯光照明系统
                    li
                        img(src='/pcimg/index/anfang.jpg')
                        span 智能安防系统
                    li
                        img(src='/pcimg/index/menchuang.jpg')
                        span 门窗遮阳系统
        div.video
            img(src='/pcimg/index/sp.jpg')
        div.cooperation
            div.title
                p 合作伙伴
            div.list
                div.item
                    img(src='/pcimg/index/aupu.png')
                div.item
                    img(src='/pcimg/index/huawei.png')
                div.item
                    img(src='/pcimg/index/jp.png')
                div.item
                    img(src='/pcimg/index/mendale.png')
                div.item
                    img(src='/pcimg/index/symh.png')


        div.bottom
            div.list
                ul
                    li.title 产品中心
                    li 家族系列
                    li 智能家居
                    li 体验与购买
                ul
                    li.title 售后与支持
                    li 服务及保修政策
                    li 微信小程序
                ul
                    li.title 服务合作
                    li 合作对接
                    li 开放平台
                    li 码库服务
                ul
                    li.title 关于蒲公英
                    li 公司简介

                ul
                    li.title 客联系我们
                    li 电话 400-113-0099
                    li 服务时间
                    li 9:00-18:00
                    li QQ 2582292078
                ul
                    li.title 关注我们
                    li 微信
                    li 微博
            p Copyright ©2018 长沙蒲公英智能科技有限公司
            p Pugoing Corporation Ltd. All Rights Reserved
            p 湘ICP备18012601号

script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/banner.js")
script(src="/JavaScript/index.js")