html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/index.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.banner#carousel_1.ft-carousel
            ul.carousel-inner
                a(href='/guanjia')
                    li.banner1.carousel-item
                a(href='/kaiguan')
                    li.banner2.carousel-item
                a(href='/mensuo')
                    li.banner3.carousel-item
            div.helper
                div.mask-left
                div.mask-right
                a.prev.icon-arrow-a-left( href="javascript:void(0);" target="_self" )
                a.next.icon-arrow-a-right(href="javascript:void(0);" target="_self")
        div.project
            div.title
                p(style='font-size:36px;margin-bottom:10px;') 智能解决方案
                p(style='font-size:16px') 提供多元化智能解决方案
            div.left(style='margin-right:20px;')
                a(href='/solution?key=right')
                    img(src='/pcimg/index/project1.jpg')
                p 智慧酒店解决方案
            div.right
                a(href='/solution?key=left')
                    img(src='/pcimg/index/project2.jpg')
                p 智能家居解决方案
        div.product
            div.title
                p(style='font-size:36px;margin-bottom:10px;') 产品中心，自由选择
                p(style='font-size:16px') 后期会慢慢增加系列
            div.down
                img(src='/pcimg/index/down.png')
            div.list
                ul
                    li
                        a(href='/product?num=1')
                            img(src='/pcimg/index/quanwu.png')
                            span 全屋语音
                    li
                        a(href='/product?num=1')
                            img(src='/pcimg/index/xiaoq.png')
                            span 小乔管家
                    li
                        a(href='/product?num=2')
                            img(src='/pcimg/index/zhaoming.png')
                            span 灯光照明
                    li
                        a(href='/product?num=3')
                            img(src='/pcimg/index/anquan.png')
                            span 家庭安全
                    li
                        a(href='/product?num=4')
                            img(src='/pcimg/index/chuanghu.png')
                            span 窗帘窗户
                    li
                        a(href='/product?num=5')
                            img(src='/pcimg/index/jiadian.png')
                            span 智能家电
        div.video
            div.title
                p(style='font-size:36px;margin-bottom:10px;') 智能生活，畅想物联
                p 帮助您更好的了解智能生活
            div.videoBox
                div#main
                    div#index_b_hero
                        div.hero-wrap
                            ul.heros.clearfix
                                li.hero
                                    a#play_btn1(href="javascript:void(0);" target="_self")
                                        img.thumb(src="/pcimg/index/video1.jpg")
                                li.hero
                                    a#play_btn2(href="javascript:void(0);" target="_self")
                                        img.thumb(src="/pcimg/index/video2.jpg")
                                li.hero
                                    a#play_btn3(href="javascript:void(0);" target="_self")
                                        img.thumb(src="/pcimg/index/video3.jpg")
                        div.helper
                            div.mask-left
                            div.mask-right
                            a.prev.icon-arrow-a-left( href="javascript:void(0);" target="_self" )
                            a.next.icon-arrow-a-right(href="javascript:void(0);" target="_self")
        div.cooperation
            div.title
                p(style='font-size:36px;margin-bottom:10px;') 合作生态，创新共赢
                p(style='font-size:16px') 开放原则，欢迎合作
            div.list
                div.item
                    img(src='/pcimg/index/aupu.png')
                div.item
                    img(src='/pcimg/index/huawei.png')
                div.item
                    img(src='/pcimg/index/aliyun.png')
                div.item
                    img(src='/pcimg/index/sibichi.png')
                div.item
                    img(src='/pcimg/index/mendale.png')
                div.item
                    img(src='/pcimg/index/symh.png')
                div.item
                    img(src='/pcimg/index/junpeng.png')
                div.item
                    img(src='/pcimg/index/umthink.png')
        include bottom



script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/silde.js")
script(src="/JavaScript/banner.js")
script(src="/JavaScript/index.js")