html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/infrared.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared').active 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.infrared
            div.top
                p.title 智能家居一次性红外解决方案
                div.text
                    p PuGoing红外库，囊括市面上95%的红外电器，基于PuGoing自主研发编解码方法，
                    p 配套的电路及遥控方法与系统、遥控器、终端设备及红外装置相结合，更加方便数据传输与控制。
                    p 同时自备红外码库自上传功能，不断扩展完善，可以满足更多用户需求。
            div.dianqi
                div.title
                    p.big 码库齐全，覆盖率高
                    p.small 集成全球范围各种红外信号编码数据
                div.img
                    img(src='pcimg/infrared/2.jpg')
            div.explain
                div(style='margin-right:103px')
                    p(style='margin-top:45px') 一键
                    p 匹配
                div(style='margin-right:103px')
                    p(style='margin-top:45px') 智能
                    p 匹配
                div(style='margin-right:103px')
                    p(style='margin-top:45px') 型号选
                    p 择匹配
                div
                    p(style='margin-top:45px') 用户库
                    p 共享
            div.list
                div.title
                    p 码库特色
                ul
                    li
                        span.yuan
                        span 云码库所有数据统一规范，手机app和终端转发一次成型
                    li
                        span.yuan
                        span 支持智能匹配功能
                    li
                        span.yuan
                        span 支持主要品牌型号名称搜索
                    li
                        span.yuan
                        span 无需额外增加硬件成本
                    li
                        span.yuan
                        span 云码库升级更新更容易，更新快
                    li
                        span.yuan
                        span 数据多层加密，无需担心服务器数据被盗
                    li
                        span.yuan
                        span 数据结构设计健壮，易读，高效，维护容易
                    li
                        span.yuan
                        span 强大的用户群体是数据库全面性的重要保障
                p(style='line-height:35px') 红外云码库支持遥控器型号搜索，设备型号搜索，用户只要记得遥控器的型号，或者系列名称，即可模糊查找该遥控器。
                div.title
                    p 码库合作
                ul
                    li
                        span.yuan
                        span mk@cspugoing.com
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/infrared.js")