html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/menchuang.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top
        div.box
            div.title
                p 门窗传感器
            div.line
            div.explain
                div.left
                    p 搭配管家联动，实时监测门窗状态
                    p 个位数微安级超低功耗，正常使用两年以上
                    p 支持打开和关闭状态
                    p 自带防拆设计
                div.right
                    img(src='../pcimg/menchuang/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 额定电压
                        span DC 3.0V
                    li
                        p 静态电流
                        span ≤7uA
                    li
                        p 报警电流
                        span ≤25mA
                    li
                        p 无线通信
                        span 433射频
                    li
                        p 活动间隙
                        span ≥14mm
                    li
                        p 工作温度
                        span -10℃~+50℃
                    li
                        p 能量传输
                        span ≤13dBm
                    li
                        p 供电方式
                        span CR2032 * 1 纽扣电池
                    li
                        p 尺寸
                        span 主体79.9*31.9*14.3mm
                        br
                        span 磁条50.7*12.7mm


                    
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")