html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/menchuang.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.top
        div.box
            div.title
                p 门窗传感器
            div.line
            div.explain
                div.left
                    p 迷你型设计，适合各种装修风格
                    p 搭配管家联动，实时监测门窗状态
                    p 个位数微安级超低功耗，正常使用两年以上
                    p 支持打开和关闭状态
                div.right
                    img(src='../pcimg/menchuang/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 通信频率
                        span 433.92MHz
                    li
                        p 通信协议
                        span 1527/自主协议
                    li
                        p 调制方式
                        span ASK/GFSK
                    li
                        p 加密方式
                        span AES-128
                    li
                        p 发射功率
                        span ≤17 dBm
                    li
                        p 工作温度
                        span -20~70℃
                    li
                        p 接收灵敏度
                        span ≥113 dBm
                    li
                        p 安装方式
                        span 双面贴纸
                    li
                        p 供电方式
                        span CR2032 * 1 纽扣电池
                    li
                        p 产品尺寸
                        span 50 * 25 * 20 mm ， 32 * 10 * 9.5mm
                    li
                        p 产品清单
                        span 门窗传感器主题 * 1 、 磁铁触发条 * 1 、 说明书 * 1
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")