html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/mensuo.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top
        div.top2
        div.top3
        div.box
            div.title
                p 智能门锁
            div.line
            div.explain
                div.left
                    p 一把结合四合一开门方式的智能锁
                    p 防锯、防撬、防冲撞三防锁体技术
                    p 在开门密码前后可任意添加虚位密码
                    p 彻底消除开门密码泄露和被恶意盗取的可能
                    p 先进的活体指纹识别；KDS触摸技术
                    p 全语音提示；让老人小孩也能轻松使用
                div.right
                    img(src='../pcimg/mensuo/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 可选颜色
                        span 香槟色
                    li
                        p 重量
                        span 2.8kg
                    li
                        p 动态电流
                        span ≤300mA
                    li
                        p 待机电流
                        span ≤30uA
                    li
                        p 指纹容量
                        span 100枚
                    li
                        p 误识率
                        span <0.001%
                    li
                        p 工作电源
                        span 4节AA电池，可装两组
                    li
                        p 尺寸
                        span 300mm * 83mm * 35mm
                    li
                        p 开门方式
                        span 指纹/密码/机械钥匙/手机远程
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")