html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        style
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top(style='background:url("../pcimg/mulian/top.jpg") no-repeat center')
        div.top2
        div.top3
        div.box
            div.title
                p 幕帘式红外传感器
            div.line
            div.explain
                div.left
                    p 搭配管家联动，智能检测人或宠物活动
                        p 个位数微安级超低功耗，正常使用两年以上
                        p 超强信号8米距离，角度15度
                div.right
                    img(src='../pcimg/mulian/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 探测方式
                        span 红外
                    li
                        p 透镜类型
                        span 幕帘
                    li
                        p 探测距离
                        span 8米，15度
                    li
                        p 安装高度
                        span 壁挂2.2米，吸顶2.4~3.6米
                    li
                        p 可探测速度
                        span 0.3~3m/s
                    li
                        p 白光等级
                        span 2000Lux
                    li
                        p 双向数字温度补偿
                        span 有
                    li
                        p 动态阀值技术
                        span 有
                    li
                        p 抗EMI/RFI干扰
                        span 有
                    li
                        p 尺寸
                        span 90x65x39.2mm
                    li
                        p 信号类别
                        span 433射频
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")