html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/news.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.newsList
            div.newstitle
                p 最新资讯
            ul
                li(style='border-top: 1px solid #eee;')
                    div.img
                        img
                    div.text
                        h3.title 华尔街唱空半导体？不，美股芯片股只是在冰火两重天
                        p.textExplain 行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。
                        p.bottomtext
                            span 2018/09/23

                li
                    div.img
                        img
                    div.text
                        h3.title 华尔街唱空半导体？不，美股芯片股只是在冰火两重天
                        p.textExplain 行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。
                        p.bottomtext
                            span 2018/09/23
                li
                    div.img
                        img
                    div.text
                        h3.title 华尔街唱空半导体？不，美股芯片股只是在冰火两重天
                        p.textExplain 行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。
                        p.bottomtext
                            span 2018/09/23
                li
                    div.img
                        img
                    div.text
                        h3.title 华尔街唱空半导体？不，美股芯片股只是在冰火两重天
                        p.textExplain 行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。行业分化加剧了，传统细分板块陷入了衰退周期。
                        p.bottomtext
                            span 2018/09/23

    include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/news.js")