html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/news.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news').active 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.newsList
            div.newstitle
                p 最新资讯
            ul
                li(style='border-top: 1px solid #eee;')
                    a(href='/news/news5')
                        div.img
                            img(src='/pcimg/news/5.jpg')
                        div.text
                            h3.title 高逼格，家里每个角落都可语音命令的智能系统······
                            p.textExplain 智能家居现正处于风口上，越来越多的政策扶持和资本注入，使得行业得到了飞速发展，但目前行业百花齐放，各自都有各自的协议，使得产品系列比较多，很多需要第三方授权使用，多个app后台来回切换，依赖性较强，如果哪方的后台出现问题，功能就不能使用。
                            p.bottomtext
                                span 2018/08/11

                li
                    a(href='/news/news4')
                        div.img
                            img(src='/pcimg/news/4.jpg')
                        div.text
                            h3.title 论智能家居的本地化...
                            p.textExplain 蒲公英全屋语音智能系统拥有很强大的本地化控制能力，在系统连接好之后，直接走本地模式，在使用的过程中即使网络暂时断开也能轻松控制家电。
                            p.bottomtext
                                span 2018/07/27
                li
                    a(href='/news/news3')
                        div.img
                            img(src='/pcimg/news/3.jpg')
                        div.text
                            h3.title 微信小程序能替代智能家居控制端APP吗？
                            p.textExplain 当前，市面上智能家居远程控制端基本都是原生APP，首先用户必须下载安装到手机，而且某些APP页面做得很深，使用率并不高，越复杂的APP对用户来说越不友好
                            p.bottomtext
                                span 2018/07/23
                li
                    a(href='/news/news2')
                        div.img
                            img(src='/pcimg/news/1.jpg')
                        div.text
                            h3.title 极致科技·为爱设计，蒲公英与奥普、华为联手打造“奥普管家”惊艳亮相
                            p.textExplain “奥普管家”于2018年7月9号在广州香格里拉大酒店震撼发布，奥普携手华为和长沙蒲公英联手定制打造了一个极致
                            p.bottomtext
                                span 2018/07/20

                li
                    a(href='/news/news1')
                        div.img
                            img(src='/pcimg/news/2.jpg')
                        div.text
                            h3.title 厚积薄发，蒲公英全屋语音智能系统终于要和大家见面了
                            p.textExplain 经过2年时间的积累和打磨，同时汲取广大用户和合作伙伴的建议和需求，针对智能家居这个垂直领域，对产品的边界进行重新定义，增加了很多实用的功能，开发了新一代全屋语音智能系统。
                            p.bottomtext
                                span 2018/07/19

    include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/news.js")