html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/product.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.sidebar
            a(href='#voice')
                span.yuan
                    b.left
                    b.right
                span 语音中控
            a(href='#light')
                span.yuan
                    b.left
                    b.right
                span 灯光照明
            a(href='#family')
                span.yuan
                    b.left
                    b.right
                span 家庭安全
            a(href='#curtains')
                span.yuan
                    b.left
                    b.right
                span 窗帘窗户
            a(href='#intelligence')
                span.yuan
                    b.left
                    b.right
                span 智能家电
        div.main
            div.voice#voice
                div.title
                    span.line
                    span 语音中控
                div.box
                    div.big
                        a(href='/guanjia')
                            img(src='/pcimg/product/voice1.jpg')

                div.box
                    div.middle(style='margin-right:20px;')
                        a(href='/xiaoqiao')
                            img(src='/pcimg/product/xiaoqiao.jpg')
                    div.small
                        a(href='/wait')
                            img(src='/pcimg/product/voice2.jpg')

            div.light#light
                div.title
                    span.line
                    span  灯光照明
                div.box
                    div.big
                        a(href='/kaiguan')
                            img(src='/pcimg/product/light1.jpg')
                div.box
                    div.middle(style='margin-right:20px;')
                        a(href='/wait')
                            img(src='/pcimg/product/light2.jpg')
                    div.small
                        a(href='/qiangmiantie')
                            img(src='/pcimg/product/light3.jpg')
            div.family#family
                div.title
                    span.line
                    span 家庭安全
                div.box
                    div.small(style='margin-right:20px;')
                        a(href='/menchuang')
                            img(src='/pcimg/product/family1.jpg')
                    div.middle
                        a(href='/mensuo')
                            img(src='/pcimg/product/family2.jpg')
                div.box
                    div.middle(style='margin-right:20px;')
                        a(href='/rentichuanganqi')
                            img(src='/pcimg/product/family3.jpg')
                    div.small
                        a(href='/shengguang')
                            img(src='/pcimg/product/family4.jpg')
                div.box
                    div.small
                        a(href='/mulian')
                            img(src='/pcimg/product/family5.jpg')
                    div.small(style='margin:0 20px;')
                        a(href='/qiti')
                            img(src='/pcimg/product/family6.jpg')
                    div.small
                        a(href='/baojing')
                            img(src='/pcimg/product/family7.jpg')
                div.box
                    div.small
                        a(href='/shuijin')
                            img(src='/pcimg/product/family8.jpg')
                    div.small(style='margin:0 20px;')
                        a(href='/sos')
                            img(src='/pcimg/product/family9.jpg')
                    div.small
                        a(href='/yanwu')
                            img(src='/pcimg/product/family10.jpg')
            div.curtains#curtains
                div.title
                    span.line
                    span 窗户窗帘
                div.box
                    div.left(style='margin-right:20px;')
                        a(href='/chuanglian')
                            img(src='/pcimg/product/curtains1.jpg')
                    div.right
                        a(href='/wait')
                            img(src='/pcimg/product/curtains2.jpg')
            div.intelligence#intelligence
                div.title
                    span.line
                    span 家电智能
                div.box
                    div.big
                        a(href='/chazuo')
                            img(src='/pcimg/product/intelligence1.jpg')
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/product.js")