html
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/qiangmiantie.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.top
        div.box
            div.title
                p 无线墙面贴
            div.line
            div.explain
                div.left
                    p 这是一款拥有传统86身材随意贴设计的开关
                    p 采用全新的分离式可拆卸结构
                    p 高灵敏电容触摸设计，幽兰背光，极具科技感和时尚感
                    p 无需接线，与智能开关实现双控，并让传统灯光智能升级
                    
                    p 配合管家实现场景控制功能
                div.right
                    img(src='../pcimg/qiangmiantie/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 通信频率
                        span 433.92MHz
                    li
                        p 通信协议
                        span 1527/自主协议
                    li
                        p 调制方式
                        span ASK/GFSK
                    li
                        p 加密方式
                        span AES-128
                    li
                        p 发射功率
                        span ≤18 dBm
                    li
                        p 工作温度
                        span -20~70℃
                    li
                        p 安装方式
                        span 双面胶纸
                    li
                        p 开关种类
                        span 单开 双开 三开
                    li
                        p 产品尺寸
                        span 86 * 86 *10mm

        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")