html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/rentichuanganqi.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top
        div.box
            div.title
                p 人体传感器
            div.line
            div.explain
                div.left
                    p 搭配管家联动，智能检测人或宠物活动
                    p 个位数微安级超低功耗，正常使用两年以上
                    p 超强信号12米距离，110度广角
                    p 低压报警
                div.right
                    img(src='../pcimg/rentichuanganqi/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 探测距离
                        span 12米
                    li
                        p 探测角度
                        span 110度
                    li
                        p 防冲
                        span 25kg
                    li
                        p 抗白光
                        span 6500Lux
                    li
                        p 信号类别
                        span 433射频
                    li
                        p 产品尺寸
                        span 113*55*38mm
                    li
                        p 安装方式
                        span 双面贴纸、直接摆放
                    li
                        p 供电方式
                        span CR2477 * 1 纽扣电池
                  
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")