html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/aboutUs.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution') 解决方案

                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs').active 关于我们

        div.text
            p.title 服务与保修政策
            ul(style='height: 900px;')
                li 一、我司为购买管家的产品的消费者提供整机一年保修（含：数据线、适配器；人为损坏除外）
                li 二、对于存在质量问题的产品，从购买之日起，实行7天退换货，15天换货的退换货政策
                li 三、请注意：存在下列情况之一者，不属于保修范围内
                li 1、超过保修有效期；
                li 2、未按产品使用说明的要求使用、维护、保管而造成损失的；
                li 3、非授权保修的修理者私自拆动造成损失的；
                li 4、无有效保修凭证及有效发票的（能够证明该商品在保修有效期内的除外）；
                li 5、擅自涂改保修凭证的；
                li 6、保修凭证上的产品型号或编号与商品实物不符合的；
                li 7、使用过程中感染病毒造成损坏的；
                li 8、因不可抗力造成损坏的；
                li 四、蒲公英产品需通过蒲公英小程序在绑定线后方能正常使用。
                li 五、蒲公英客户服务
                li 蒲公英热线：0731-82908108
                li 蒲公英QQ号：2582292078
                li 服务时间：9:00-22:00

    include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/infrared.js")