html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        link(rel='stylesheet',href='/css/shengguang.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.top
        div.box
            div.title
                p 声光报警器
            div.line
            div.explain
                div.left
                    p 双孔插座通电方便使用
                    p 搭配管家联动，设置布防方式
                    p 非法入侵时自动报警
                    p 同时系统也会发送短信到主人手机
                div.right
                    img(src='../pcimg/shengguang/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 电源
                        span AC 220V
                    li
                        p 待机功耗
                        span ≤13mA
                    li
                        p 适用温度
                        span -20℃~+55℃
                    li
                        p 允许最大湿度
                        span 95%RH
                    li
                        p 通信方式
                        span 433射频
                    li
                        p 后备电池
                        span 3.7V
                    li
                        p 报警声压
                        span 100dB
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")