html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/solution.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product') 产品中心
                        li
                            a(href='/solution').active 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
        div.choose
            div.left.active
                span
                    a 智能家居解决方案
            div.right
                span
                    a 智慧酒店解决方案
        div.home
            div.top
                p.title 智能家居解决方案
                div.text
                    p PuGoing智能家居通过前沿的无线技术将家中电器设备联网升级，从而实现各种全屋智能场景。
                    p 让你或者家人通过简单的一个动作或者一句话即可自动操作家中不同设备。
                    p 远离家中繁琐，科技解放生活。
            div.list
                ul
                    li
                        div.yuan
                            p(style='margin-top:60px') 全屋语音
                            p 解决方案
                        div.text
                            span 无需拆墙布线，采用无线信号，维护升级方便简单
                    li
                        div.yuan
                            p(style='margin-top:60px') 改装灯光
                            p 控制系统
                        div.text
                            span 433射频自组网信号强度翻倍，覆盖面积更广，系统更稳定
                    li
                        div.yuan
                            p(style='margin-top:60px') 传统家电
                            p 智能升级
                        div.text
                            span 老房子智能改装，无需更换家电
                    li(style='margin:0')
                        div.yuan
                            p(style='margin-top:60px') 各种场景
                            p 自由设置
                        div.text
                            span 全自动、自学习、自感知的智能系统
            div.introduce
                div.quanwu
                    div.textbox
                        p.big 全屋语音控制系统
                        p.middle 家中哪里都是一句话的事
                        p.small 采用主机+分机的模式，多台管家或86型中控
                        p.small 配合组网，可自主感知主人所在房间，同时不
                        p.small 受位置限制，可以在任意房间控制所有电器
                div.zhudong
                    div.textbox.bg
                        p.big 主动式服务
                        p.small 利用人工智能技术，多传感器配合，自动检测环境，提
                        p.small 供主动式服务
                        div.imgbox
                            img(style='width:360px' src='pcimg/solution/products1.png')
                    div.text2
                        span 好的
                    div.text1
                        span 室温高于32摄氏度,主人是否打开空调

            div.sence
                div.s_div.s_one
                    div.textbox.bg
                        p.big 起床模式 6：30
                        p.middle 为你开启精彩的一天
                        p.small 闹钟响起，窗帘徐徐拉开，同时关闭空调，阳光洒进房间，伸
                        p.small 个懒腰，起床。管家播放当天的天气，让你享受美好的一天
                        div.imgbox
                            img(style='width:360px' src='pcimg/solution/products2.png')
                div.s_div.s_two
                    div.textbox.bg
                        p.big 离家模式 7：30
                        p.middle 家庭安全 一键布防
                        p.small 出门选择离家模式，家中的灯光、电器自动调整为离家状态。从关门
                        p.small 的那刻起，玄关，过道的人体传感器、声波报警器和房间门、窗上的
                        p.small 门窗传感器开始严阵以待。窗帘徐徐合上，布防开始
                        div.imgbox
                            img(style='width:505px' src='pcimg/solution/products3.png')
                div.s_div.s_three
                    div.textbox.bg
                        p.big 回家模式 19：00
                        p.middle 一个人也能拥有家的温馨
                        p.small 忙碌了一天，回到家，指纹解锁打开家门，玄关、过道、客厅，所到之处全部
                        p.small 的照明灯统统为你亮起，管家正在播放你喜欢的音乐，电视为你打开到爱看的
                        p.small 卫视频道，卫生间热水器已经在加热，等待着随时享用
                        div.imgbox
                            img(style='width:606px' src='pcimg/solution/products4.png')
                div.s_div.s_four
                    div.textbox.bg
                        p.big 睡眠模式 23：00
                        p.middle 生活压力大 睡个好觉才重要
                        p.small 躺在床上，睡眠模式可以免去睡前关窗、关窗帘、关灯、关电
                        p.small 视等一系列琐事，管家播放大自然的声音，营造助眠氛围，让
                        p.small 你快速进入梦乡。房间空气不流通，加湿器和空气净化器也会
                        p.small 自动开启进行调节，这一切，只为健康睡眠
                        div.imgbox
                            img(style='width:491px' src='pcimg/solution/products5.png')

        div.hotel
            div.top
                p.title 智慧酒店解决方案
                div.text
                    p PuGoing智慧酒店解决方案主要面向特色主题酒店，让入住旅客体验轻科技，享受不一样的智能服务。
                    p 集合酒店自身管理系统，让服务管理更高效、体验更舒适，通过智能设备应用，节省运营成本，
                    p 提升管理质量，从而在口碑和利益上实现"双盈"效应。
            div.list
                p 更节能、舒适的智慧酒店解决方案
                ul
                    li
                        div.yuan
                            p(style='margin-top:60px') 提高品牌
                            p 竞争力
                    li
                        div.yuan
                            p(style='margin-top:60px') 对接自家酒
                            p 店管理系统
                    li
                        div.yuan
                            p(style='margin-top:60px') 减少管理成
                            p 本提高效率
                    li(style='margin:0')
                        div.yuan
                            p(style='margin-top:80px') 方便节能
            div.sence
                div.s_div.s_one
                    div.textbox.bg
                        p.big 入住体验模式
                        p.small 在线订房后，可以在入住前通过手机端，让房间环境
                        p.small 变成你想要的最舒适状态，还可以享受影音娱乐、智
                        p.small 能卫浴、智能灯光、睡眠检查等全方位入住体验

                div.s_div.s_two
                    div.textbox.bg
                        p.big 退房模式
                        p.small 按下退房开关，不需要你亲自到前台办理退房手续，服务人员
                        p.small 收到通知对客房进行检查，完毕后发票发送至手机，也可自取
                        p.small 纸质发票，实现随时来随时走

                //div.s_div.s_three
                //    div.textbox.bg
                //        p.big 智慧酒店管理平台
                //        p.small 酒店管理平台是针对智慧酒店管理开发的云
                //        p.small 操作平台，管理人员可以直接登录后台进
                //        p.small 行一些DIY的酒店个性设置

        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/solution.js")