html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/xiaoqiao.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top1
            div
                p.big 有求必应 家居伙伴
                p.middle 闹钟  天气  算数  音频资源 智能家居
                img(src='../pcimg/xiaoqiao/1-1.png')
        div.top2
            div
                p.big 语音识别
                p.middle 可实现3m精确拾音，通过云端进行语义识别后，
                p.middle 迅速回应并执行命令。
        div.top3
            div
                p.big 家电控制
                p.middle 优秀的互联网协议，可开放对接，以便越来越多电器加入进来，
                p.middle 具有强大的家电中控能力
                img(src='../pcimg/xiaoqiao/3-1.png')
        div.top4
            div
                p.big WIFI音响  海量资源
                p.middle 高保真双喇叭设计，ＨiＦi音质，让您尽享音乐之美！
                img(src='../pcimg/xiaoqiao/4-1.png')
        div.top5
            div
                p.middle 采用HT6806芯片，超低EMI、防削顶失
                p.middle 真的立体声，音色调节细腻配合，配合铝
                p.middle 合金振膜，可获得更高声压，高音更透亮，
                p.middle 低音更震撼。
        div.top6
            p.big 微信控制 随心所欲
           
            p.middle 告别APP侵占手机内存的烦恼
            p.middle 扫描二维码，关注公众号，即可微信控制，随时随地互动，更加省心舒适
            p.middle 可自定义场景设置，一种场景一种生活。

        div.top7
            div
                p.big 多功能夜灯
                p.middle 柔和灯光，夜晚不刺眼
                p.middle 尤其适用于有老人、产妇、小孩的家庭
                p.middle 拍打切换颜色，可玩性强
                img(src='../pcimg/xiaoqiao/7-1.png')
        div.list1
            div.title
                p 主要参数
            ul
                li
                    p CPU
                    span 双核ARM A7
                li
                    p RAM内存
                    span 512M DDR3
                li
                    p 无线通讯
                    span 红外 433射频
                li
                    p 固态硬盘
                    span 4GB
                li
                    p 语音距离
                    span 最佳0-3米
                li
                    p 输入电压
                    span DC 5V 1A
                li
                    p 显示屏幕
                    span 1.54 IPS
                li
                    p 喇叭功率
                    span 4Ω 3W  X 2
                li
                    p 产品尺寸
                    span 高132mm  直径147mm
                li
                    p 彩灯功率
                    span 最大200mw X 8
                li
                    p 产品重量
                    span 1.1kg
                li
                    p 锂电容量
                    span 3600mAh
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")