html
    head
        meta(charset='utf-8')
        title
        link(rel='shortcut icon',type="image/x-icon",href='/pcimg/pugoing.ico')
        link(rel='stylesheet',href='/css/chuanglian.css')
        script(src='https://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
    body
        div.nav
            div.content
                div.logo
                    a(href='/index')
                        img(src='/pcimg/index/logo.svg')
                div.list
                    ul
                        li
                            a(href='/product').active 产品中心
                        li
                            a(href='/solution') 解决方案
                        li
                            a(href='/infrared') 红外码库
                        li
                            a(href='/open') 开放平台
                        li
                            a(href='/news') 最新资讯
                        li
                            a(href='/aboutUs') 关于我们
                        li
                            a(href='/join') 加盟合作
        div.top(style='background:url("../pcimg/yanwu/top.jpg") no-repeat center')
        div.top2
        div.top3
        div.box
            div.title
                p 烟雾传感器
            div.line
            div.explain
                div.left
                    p 3C认证
                    p 360°全方位探测
                    p 自动报警发送至主人手机
                div.right
                    img(src='../pcimg/yanwu/small.png')
            div.title
                p 主要参数
            div.line
            div.list
                ul
                    li
                        p 额定电压
                        span DC 9V
                    li
                        p 静态电流
                        span ≤10uA
                    li
                        p 报警电流
                        span ≤100mA
                    li
                        p 报警声压
                        span ＞80dB(3米）
                    li
                        p 灵敏度等级
                        span 11级
                    li
                        p 工作温度
                        span -10℃~+50℃
                    li
                        p 尺寸
                        span φ109*51mm
        include bottom
script(src="/JavaScript/jquery.min.js")
script(src="/JavaScript/chuanglian.js")